.box {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.button {
  text-transform: capitalize;
  background-color: #fff;
  border: 1px solid rgba(110, 110, 110, 0.356);
  border-radius: 5px;
  outline: none;
  text-align: center;
}

.button:active {
  background-color: rgb(78, 109, 211);
}
